.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .hover-image {
    transition: transform 0.3s ease;
  }
  
  .hover-image:hover {
    transform: scale(1.1);
  }
  
  @media (min-width: 768px) {
    .hover-image {
      height: 100px;
      width: 100px;
    }
  }
  